# Dependencies
node_modules
node_modules/
**/node_modules/
Firstshadi-backend/node_modules/
Firstshadi-backend/uploads/

# Build output
dist
dist-ssr
build

# Env
.env
.env.local
.env.production
Firstshadi-backend/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?